In [9]:
import pandas as pd
import numpy as np

In [10]:
house_predict=pd.read_csv('HPP.csv')

In [11]:
house_predict.head(5)

         DATE  InsuranceRate_pc  ...  House_price_index_SP  House_price_inMIL
0  2000-01-01          -2.10537  ...            100.679000           165300.0
1  2000-04-01          -0.83746  ...            103.698333           163200.0
2  2000-07-01          10.51417  ...            106.458667           168800.0
3  2000-10-01           3.28275  ...            108.268333           172900.0
4  2001-01-01          -0.67598  ...            109.750000           169800.0

[5 rows x 11 columns]

In [12]:
house_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DATE                      81 non-null     object
 1   InsuranceRate_pc          81 non-null     float64
 2   Mortgage_rates            81 non-null     float64
 3   Income_rates_pc           81 non-null     float64
 4   House_supply              81 non-null     float64
 5   Rental_rates              81 non-null     float64
 6   Emp_Pop_ratio             81 non-null     float64
 7   Fuel_Price_Index          81 non-null     float64
 8   Bussiness_inventory_lvls  81 non-null     float64
 9   House_price_index_SP      81 non-null     float64
 10  House_price_inMIL         81 non-null     float64
dtypes: float64(10), object(1)
memory usage: 7.1+ KB

In [15]:
import datetime as dt
house_predict['DATE'] = pd.to_datetime(house_predict['DATE'])
house_predict['DATE']=house_predict['DATE'].map(dt.datetime.toordinal)

In [16]:
house_predict.info()
house_predict.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DATE                      81 non-null     int64
 1   InsuranceRate_pc          81 non-null     float64
 2   Mortgage_rates            81 non-null     float64
 3   Income_rates_pc           81 non-null     float64
 4   House_supply              81 non-null     float64
 5   Rental_rates              81 non-null     float64
 6   Emp_Pop_ratio             81 non-null     float64
 7   Fuel_Price_Index          81 non-null     float64
 8   Bussiness_inventory_lvls  81 non-null     float64
 9   House_price_index_SP      81 non-null     float64
 10  House_price_inMIL         81 non-null     float64
dtypes: float64(10), int64(1)
memory usage: 7.1 KB

     DATE  InsuranceRate_pc  ...  House_price_index_SP  House_price_inMIL
0  730120          -2.10537  ...            100.679000           165300.0
1  730211          -0.83746  ...            103.698333           163200.0
2  730302          10.51417  ...            106.458667           168800.0

[3 rows x 11 columns]

In [17]:
X=house_predict.drop(['House_price_inMIL'],axis=1)
y=house_predict['House_price_inMIL']

In [19]:
X.head(2)

     DATE  InsuranceRate_pc  ...  Bussiness_inventory_lvls  House_price_index_SP
0  730120          -2.10537  ...                       0.4            100.679000
1  730211          -0.83746  ...                       0.7            103.698333

[2 rows x 10 columns]

In [20]:
y.head(2)

0    165300.0
1    163200.0
Name: House_price_inMIL, dtype: float64

In [21]:
 from sklearn.model_selection import train_test_split as tts

 Xtrain, Xtest, ytrain, ytest = tts(X,y,test_size=0.1, random_state=0)

In [28]:
from sklearn.ensemble import RandomForestRegressor 
RandF_reg=RandomForestRegressor(n_estimators=100,criterion='mse',random_state=2,n_jobs=-1)
RandF_reg.fit(Xtrain,ytrain)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=-1, oob_score=False,
                      random_state=2, verbose=0, warm_start=False)

In [29]:
X_train_pred = RandF_reg.predict(Xtrain)
X_test_pred = RandF_reg.predict(Xtest)

In [30]:
from sklearn import metrics
print('R2 train data: %.3f, R2 test data: %.3f' % (metrics.r2_score(ytrain,X_train_pred, ytrain),metrics.r2_score(ytest,X_test_pred, ytest)))

R2 train data: 0.997, R2 test data: 0.955

In [31]:
mse=metrics.mean_absolute_error(ytest,X_test_pred)
print('Mean absolute error:',mse)

Mean absolute error: 6051.777777777777

In [32]:
house_predict_compar = pd.DataFrame({'Actual':ytest,'predicted':X_test_pred})
house_predict_compar.head(8)

      Actual  predicted
22  236400.0   236461.0
27  245400.0   241441.0
61  289100.0   298221.0
13  191800.0   191006.0
71  337900.0   317561.0
74  330900.0   326693.0
30  241800.0   243744.0
55  273600.0   269949.0